.footer {
    background-color: #007B99;
    color: #FFF;
    text-align: center;
    padding: 20px;
  }
  
  .footer .social-links a {
    color: #FFF;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer .social-links a:hover {
    text-decoration: underline;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .footer .social-links a {
      display: block;
      margin: 5px 0;
    }
  }